@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Ubuntu:wght@300&display=swap');

body{
    background-color: ghostwhite;
    text-align: center;
    margin: 100px 80px;
    padding: auto;
    font-family: 'Ubuntu', 'Nanum Gothic Coding',sans-serif;
}

.main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-up{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin: auto;
    padding: auto;
}

h2{
    text-align: center;
}

span{
    text-align: right;
    padding: 1%;
}

.bar{
    padding: 3%;
    margin: 3%;
    width: auto;
}
.s-bar{
    padding: 5px;
    margin: 5px;
    width: 100%;
}
.mainBar{
    padding: 5px;
    margin: 5px;
    width: 100%;
}

#cpu1{
    padding: 5px;
    margin: 5px;
}
#cpu2{
    padding: 5px;
    margin: 5px;
}
#cpu3{
    padding: 5px;
    margin: 5px;
}
#cpu4{
    padding: 5px;
    margin: 5px;
}
#type{
    float: left;
}
#pNum{
    float: left;

}
