{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static "css/index.css" %}>
<link href={% static "table.js" %}>
<div class="container-fluid">
  <div class="main">
    <div class="main-up">
      <form action="" method="post">
        {% csrf_token %}
        <div>
          <h2>Process Table</h2>
        </div><br><br>

        <div class="select">
          <label>SCHEDULING TYPE</label>
          <select class="scheduling-type" name="scheduling-type" aria-label=".scheduling-type">
            <option value="FCFS">FCFS</option>
            <option value="RR">RR</option>
            <option value="SPN">SPN</option>
            <option value="SRTN">SRTN</option>
            <option value="HRRN">HRRN</option>
          </select>
          <tr>&emsp;&emsp;&emsp;
            <label>&nbsp; PROCESSOR NUMBER</label>
            <select class="processor-number" name="processor-number" aria-label=".processor-number">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <span><input type="button" value="add" onclick="addRow()" /></span>
            <span><input type="button" value="delete" onclick="deleteRow()" /></span>
            <span><input type="button" value="hide" onclick="hideRow()" /></span>
            <span><input type="button" value="show" onclick="showRow()" /></span>
        </div>
        <div>
          <table class="table table-hover" id="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Process</th>
                <th>Arrive Time</th>
                <th>Burst Time</th>
                <th id="quantum">TimeQuantum</th>
                <th>Waiting Time</th>
                <th>Turnaround Time</th>
                <th>Normalized Turnaround Time</th>
              </tr>
            </thead>

            <tbody>
              <tr class="quantum_td" >
                <th scope="row">1</th>
                <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process" name="Process_name"></td>
                <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time" name="Arrive_time"></td>
                <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time" name="Burst_time"></td>
                <td id="quantum"><input type="text" class="form-control" placeholder="TimeQuantum"
                    aria-label="TimeQuantum" name="TimeQuantum"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr class="quantum_td">
                <th scope="row">2</th>
                <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process" name="Process_name"></td>
                <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time" name="Arrive_time"></td>
                <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time" name="Burst_time"></td>
                <td id="quantum"><input type="text" class="form-control" placeholder="TimeQuantum"
                    aria-label="TimeQuantum" name="TimeQuantum"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr class="quantum_td">
                <th scope="row">3</th>
                <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process" name="Process_name"></td>
                <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time" name="Arrive_time"></td>
                <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time" name="Burst_time"></td>
                <td id="quantum"><input type="text" class="form-control" placeholder="TimeQuantum"
                    aria-label="TimeQuantum" name="TimeQuantum"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr class="quantum_td">
                <th scope="row">4</th>
                <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process" name="Process_name"></td>
                <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time" name="Arrive_time"></td>
                <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time" name="Burst_time"></td>
                <td id="quantum"><input type="text" class="form-control" placeholder="TimeQuantum"
                    aria-label="TimeQuantum" name="TimeQuantum"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr class="quantum_td">
                <th scope="row">5</th>
                <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process" name="Process_name"></td>
                <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time" name="Arrive_time"></td>
                <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time" name="Burst_time"></td>
                <td id="quantum"><input type="text" class="form-control" placeholder="TimeQuantum"
                    aria-label="TimeQuantum" name="TimeQuantum"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
          <input type="submit" value="제출">
      </form>
    </div>
    </main>
  </div>
</div>

<!-- 나중에 js파일 따로 만들때 테스트 할 거 -->
<!-- <button onclick="alert_button('안녕하세요!')"> 인사하세요! </button> -->
<div class="bar">
  <div class="s-bar">
    <p>초</p>

    <div class="progress" style="height: 2px;">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </div>

  <div class="mainBar">
    <div class="cpu1">
      <div class="progress" name="cpu1" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
    <div class="cpu2">
      <div class="progress" name="cpu2" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
    <div class="cpu3">
      <div class="progress" name="cpu3" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
    <div class="cpu4">
      <div class="progress" name="cpu4" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
          aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>


<!-- JS  -->

<!-- 테이블 추가,삭제 -->
<script>
  var count = 6;
  var full_count = 15;

  function addRow() {

    if (count > full_count) {
      alert("최대15개까지만 가능합니다.");
      return;
    }

    var add_cell1 = "<b>" + count + "</b>";
    var add_cell2 = "<input type='text' class='form-control' placeholder='Process Name' aria-label='Process' name='Process_name' size=40>";
    var add_cell3 = "<input type='text' class='form-control' placeholder='Arrive Time' aria-label='Arrive Time' name='Arrive_time' size=40>";
    var add_cell4 = "<input type='text' class='form-control' placeholder='Burst Time' aria-label='Burst Time' name='Burst_time' size=40>";
    var add_cell5 = "<input type='text' class='form-control' placeholder='TimeQuantum' aria-label='TimeQuantum' name='TimeQuantum' TimeQuantum'size=40>";
    var add_cell6 = "-";
    var add_cell7 = "-";
    var add_cell8 = "-";


    var table_name = document.getElementById("table");

    var new_row = table_name.insertRow();

    var new_cell = [];
    for (var i = 1; i < 9; i++) {
      new_cell[i] = new_row.insertCell();
      new_cell[i].innerHTML = add_cell[i];
    }
    count++;
  }

  function addRow() {

    if (count > full_count) {
      alert("최대15개까지만 가능합니다.");
      return;
    }

    var add_cell1 = "<b>" + count + "</b>";
    var add_cell2 = "<input type='text' class='form-control' placeholder='Process Name' aria-label='Process' name='Process_name' size=40>";
    var add_cell3 = "<input type='text' class='form-control' placeholder='Arrive Time' aria-label='Arrive Time' name='Arrive_time' size=40>";
    var add_cell4 = "<input type='text' class='form-control' placeholder='Burst Time' aria-label='Burst Time' name='Burst_time' size=40>";
    var add_cell5 = "<input type='text' class='form-control' placeholder='TimeQuantum' aria-label='TimeQuantum' name='TimeQuantum' TimeQuantum'size=40>";
    var add_cell6 = "-";
    var add_cell7 = "-";
    var add_cell8 = "-";


    var table_name = document.getElementById("table");

    var new_row = table_name.insertRow();

    var new_cell1 = new_row.insertCell();
    var new_cell2 = new_row.insertCell();
    var new_cell3 = new_row.insertCell();
    var new_cell4 = new_row.insertCell();
    var new_cell5 = new_row.insertCell();
    var new_cell6 = new_row.insertCell();
    var new_cell7 = new_row.insertCell();
    var new_cell8 = new_row.insertCell();

    new_cell1.innerHTML = add_cell1;
    new_cell2.innerHTML = add_cell2;
    new_cell3.innerHTML = add_cell3;
    new_cell4.innerHTML = add_cell4;
    new_cell5.innerHTML = add_cell5;
    new_cell6.innerHTML = add_cell6;
    new_cell7.innerHTML = add_cell7;
    new_cell8.innerHTML = add_cell8;

    count++;
  }

  function deleteRow() {
    var table = document.getElementById("table");

    if (table.rows.length < 3) {
      alert("더이상 삭제할수 없습니다.");
      return;
    }

    table.deleteRow(table.rows.length - 1);
    count--;
  }
</script>


<!-- TimeQuantum 보이기 숨기기 -->
<script>
  function hideRow() {
    const col = document.getElementById('quantum');
    //const td = quantum_td.tr td:nth-child()
    //const col_td = col
    col.style.display = 'none';
    //col_td.style.display = 'none';

  }

  function showRow() {
    const col = document.getElementById('quantum');
    //const col_td = col.innerText;
    col.style.display = '';
    //col_td.style.display = '';


  }
</script>


{% endblock %}