{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static "css/index.css" %}>

<div class="container-fluid">
    
    <div class="main">
      <div class="main-up">
        {% csrf_token %}
        <form action="" method="post">
          <div><h2>Process Table</h2></div><br><br>
          <div class="select">
            <label>SCHEDULING TYPE</label>
            <select class="scheduling-type" name="scheduling-type" aria-label=".scheduling-type">
              <option value="FCFS">FCFS</option>
              <option value="RR">RR</option>
              <option value="SPN">SPN</option>
              <option value="SRTN">SRTN</option>
              <option value="HRRN">HRRN</option>
            </select>
            <tr>&emsp;&emsp;&emsp;
            <label>&nbsp; PROCESSOR NUMBER</label>
            <select class="processor-number" name="processor-number" aria-label=".processor-number">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Process</th>
                  <th>Arrive Time</th>
                  <th>Burst Time</th>
                  <th>Waiting Time</th>
                  <th>Turnaround Time</th>
                  <th>Normalized Turnaround Time</th>
                </tr>
              </thead>
  
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process"></td>
                  <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time"></td>
                  <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time"></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process"></td>
                  <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time"></td>
                  <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time"></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process"></td>
                  <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time"></td>
                  <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time"></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process"></td>
                  <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time"></td>
                  <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time"></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td><input type="text" class="form-control" placeholder="Process Name" aria-label="Process"></td>
                  <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time"></td>
                  <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time"></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </form>
          </div>
          
                    


          

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

      
    </main>
  </div>
</div>
{% endblock %}