<!-- 템플릿을 사용하여 base.html을 상속받아 페이지를 구성한다. -->
{% extends 'base.html' %}

<!-- Static 파일을 load -->
{% load static %}

<!-- body 태그의 내용 -->
{% block content %}
<link rel="stylesheet" href={% static "css/index.css" %}>

<div class="container-fluid">
  <div class="main">
    <div class="main-up">
      <form action="" method="post">
        {% csrf_token %}
        <div>
          <h1>Process Table</h1>
        </div><br><br>

        <!-- 프로세서 typ, 수 선택 -->
        <div class="select">
          <span id="type">
            <label for="scheduling-type"">SCHEDULING TYPE</label>
            <select class=" scheduling-type" name="scheduling-type" aria-label=".scheduling-type" id="scheduling-type" onchange="showTimeQuantum(this)">
              <option value="FCFS">FCFS</option>
              <option value="RR">RR</option>
              <option value="SPN">SPN</option>
              <option value="SRTN">SRTN</option>
              <option value="HRRN">HRRN</option>
              <option value="DTRR">DTRR</option>
              </select>
          </span>
          <tr>&emsp;
            <span id="pNum">
              <label for="processor-number">&nbsp; PROCESSOR NUMBER</label>
              <select class="processor-number" name="processor-number" aria-label=".processor-number"
               id="processor-number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </span>
            <!-- TimeQuantum 입력폼  -->
          <tr></tr>

          <span id="col-xs-2" style="visibility:hidden">
            <label for="TimeQuantum">TimeQuantum</label>
            <input type="text" placeholder="TimeQuantum" name="TimeQuantum" id="TimeQuantum" class="TimeQuantum">
          </span>

          <span id="cntlBT">
            <button type="button" class="btn btn-success" value="add" onclick="addRow()">Add</button>
            <button type="button" class="btn btn-warning" value="delete" onclick="deleteRow()">Delete</button>
            <input type="submit" button type="button" class="btn btn-dark" value="Run">
          </span>
        </div>

        <!-- Process Table -->
        <div>
          <table class="table table-hover" id="table">
            <thead>
              <tr>
                <th>Process</th>
                <th>Arrive Time</th>
                <th>Burst Time</th>
                <th>Waiting Time</th>
                <th>Turnaround Time</th>
                <th>Normalized Turnaround Time</th>
              </tr>
            </thead>

            <tbody>
              <!-- 프로세스 입력값을 가지는 테이블을 Template 언어를 사용한 반복문으로 생성하기 -->
              {% for result in results %}
              <tr class="quantum_td">
                <th scope="row">{{forloop.counter}}</th>
                <td><input type="text" class="form-control" placeholder="Arrive Time" aria-label="Arrive Time"
                    name="Arrive_time" value="{{result.0}}"></td>
                <td><input type="text" class="form-control" placeholder="Burst Time" aria-label="Burst Time"
                    name="Burst_time" value="{{result.1}}"></td>
                <td><label>{{result.2}}</label></td>
                <td><label>{{result.3}}</label></td>
                <td><label>{{result.4}}</label></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </form>
    </div>
    </main>
  </div>
</div>

<!-- Gantt Chart -->
<div>
  <h2>Gantt Chart</h2>
</div>

<!-- HTML의 Table과 템플릿 언어를 사용하여 간트차트 구현 -->
<div class="GanttChart">
  <table class="table table-hover" id="table">
    <thead>
      <th></th>
      <!-- 행에 초를 표시한다. -->
      {% for process in memory.0 %}
      <th class>{{forloop.counter}}</th>
      {% endfor %}
    </thead>
    <tbody>
      <!-- 열에 실행이 가능한 프로세스를 나열한다. -->
      {% for processor in memory %}
      <tr>
        <th>#Processor{{forloop.counter}}</th>
        {% for process in processor %}
        <!-- 입력받은 데이터를 통하여 프로세스를 시간에 따라 해당 프로세서에 표시한다. -->
        {% if process.0 != None %}
        <td class="Time{{forloop.counter}}" style="visibility: hidden; background-color: {{process.1}} ">P{{process.0}}
        </td>
        {% else %}
        <td class="Time{{forloop.counter}}" style="visibility: visible; background-color:ghostwhite"></td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- 간트차트 테이블 생성 JS -->
  <script>
    
    var col = Number("{{memory|length}}");
    var time_limit = Number("{{memory.0|length}}");
    localStorage.setItem("time", 1);

    // setInterval 함수를 통한 초마다 각 프로세서의 프로세스 상태를 출력한다.
    let chart = setInterval(function () {
      for (var j = 0; j < col; j++) {
        var value = document.getElementsByClassName("Time" + String(localStorage.time))[j]
        value.style.visibility = "visible";
      }
      localStorage.time = Number(localStorage.time) + 1;
      if (time_limit < Number(localStorage.time)) {
        clearInterval(chart)
      }
    }, 300);
  </script>
</div>
{% endblock %}